.container,
body,
html {
    height: 100%;
    width: 100%;
    overflow: hidden
}

body,
html {
    font-size: .14rem;
    background: #f1f1f1
}

.container {
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.container .main {
    width: 100%;
    flex: 1;
    overflow-x: hidden;
    overflow-y: auto
}

.container,
.container .main {
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch
}

.container .main .scroller {
    width: 100%;
    height: auto;
}

body .container .footer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-top: solid #ccc .01rem;
    height: 1rem;
    width: 100%;
    background: #fff;
}

.container .footer a {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 100%
}

.container .footer a span {
    font-size: .24rem;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    display: block;
    width: 100%;
    height: .24rem;
    margin-top: .07rem;
    text-align: center;
    color: #000;
    line-height: .24rem
}

.container .footer a em {
    text-align: center;
    display: block;
    width: .45rem;
    height: .45rem;
    margin: .13rem auto 0;
    line-height: .4rem;
    color: #000
}

.container .footer .activehome em,
.container .footer .activehome span {
    color: #32b9f9
}

@font-face {
    font-family: icomoon;
    src: url(./../../fonts/icomoon.eot);
    src: url(./../../fonts/icomoon.eot) format('embedded-opentype'), url(./../../fonts/icomoon.ttf) format('truetype'), url(./../../fonts/icomoon.woff) format('woff');
    font-weight: 400;
    font-style: normal
}

.icon {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: .78rem;
    margin-left: .1rem;
    margin-right: .3rem;
    font-size: .4rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-conho:before {
    font-size: .45rem;
    content: "\e946"
}

.icon-conho1:before {
    font-size: .45rem;
    content: "\e949"
}

.icon-conse:before {
    font-size: .45rem;
    content: "\e910"
}

.icon-conse1:before {
    font-size: .45rem;
    content: "\e948"
}

.icon-conac:before {
    content: "\e923"
}

.icon-conac1:before {
    content: "\e94a"
}

.icon-conme:before {
    font-size: .42rem;
    content: "\e945"
}

.icon-conme1:before {
    font-size: .42rem;
    content: "\e947"
}